@import 'global';

.card{
    height: 100%;
}

textarea{
    resize: none;
}

.flex-contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.profile-img{
    width: 100px;
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 50%;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.upload-content{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: contain;
    }
    .from-image-upload{
        position: absolute;
        bottom: 0;
        right: 0px;
    }
    input[type="file"]{
        display: none;
    }
    .pen{
        width: 30px;
        margin: 0px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: .08);
        i{
            color: var(--secondary);
            font-size: 15px;
        }
    }
}

h1 , h2 , h3 , h4 , h5 ,h6{
    color: var(--primary);
} 

.mm-active .active , .mm-active .active i , .mm-active , .mm-active>i , th ,  h4 span{
    color: var(--secondary) !important;
}

.logo-lg img{
    width: 120px;
    height: 60px;
    object-fit: contain;
    object-position: center;
}

.inovice-data-contain{
    width: 100%;
    padding: 20px 0px 0px;
    .logo{
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: right;
    }

    .inovice-name{
        width: 100%;    
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.flex-col-shape{
            flex-direction: row !important;
            li{
                border-left: 1px solid #444 !important;
                padding: 0px 10px 0px 10px !important;

                &:last-child{
                    border-left: none !important;
                }
            }
        }

        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin-bottom: 20px;
            width: 100%;
            border: 0px !important;
            &.border{
                border-bottom: 1px solid #444 !important;
            }
            .name{
                font-size: 20px;
                font-weight: 600;
                color: #444;
            }
        }
    }

    .inovice-table{
        width: 100% !important;
        
        &.table-bordered{
            border: 1px solid #444 !important;
            th , td{
                border: 1px solid #444 !important;
            }
        }
        th{
            background-color: #00A79D;
            text-align: center;

            .name{
                display: block;
                color: #fff;
                font-size: 20px;
                font-weight: 900;

                &.inline{
                    display: inline-block !important;
                    &:first-child{
                        margin-left: 40px;
                    }

                    &:last-child{
                        margin-right: 40px;
                    }
                }
            }
        }
        td{
            height: 58px !important;
        }

        .contain{
            li{
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;
                padding: 0px 20px;

                span{
                    color: var(--secondary);
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }

    .data{
        font-size: 15px;
        font-weight: 500;
        color: #444 !important;
        margin-bottom: 20px;
    }

    .copyrights{
        padding: 20px 0px;
        background-color: var(--secondary);
        width: 100%;
        margin-top: 40px;

        .qr-contain{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: -100px;
        }
        .qr-code{
            width: 150px;
            height: 150px;
            object-fit: contain;
            object-position: center;
        }

        .content{
            p{
                color: #fff;
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 900px) {
    .logo-sm img{
        width: 100px;
        height: 60px;
        object-position: center;
        object-fit: contain;
    }

    .dt-buttons.btn-group{
        .btn {
            padding: .47rem .5rem !important;
        }
    }
    .table-responsive{
        th , td{
            min-width: 180px !important;
        }
    }
}

@media (max-width: 321px) {
    .dt-buttons.btn-group{
        .btn {
            padding: .47rem .1rem !important;
        }
    }
}